
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.perfil-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.datos-personales,
.asignaturas-promedio,
.datos-especificos {
    margin-bottom: 30px;
}

.foto img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.asignaturas-promedio {
    display: flex;
    justify-content: space-between;
}

.asignaturas,
.promedio {
    flex-basis: 48%;
}

.asignaturas ul {
    list-style-type: none;
    padding: 0;
}

.promedio {
    text-align: center;
}

.grafico-pastel img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.galeria_actividades {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.galeria_actividades h2 {
    text-align: center;
}

.imagen {
    width: calc(33.33% - 20px);
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
}

.imagen img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.imagen img:hover {
    transform: scale(1.1);
}

