body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

nav {
    background-color: #343a40;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 40px;
}

.menu-icon {
    display: none;
}

.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .menu-icon:hover {
        color: #ccc;
    }

    .menu-icon.active+.menu {
        display: flex;
    }
}

.contenido {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.foto_cont img {
    width: 100%;
    height: auto;
    border-radius: 10%;
    max-width: 300px;
}

.informacion {
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.imagen {
    width: 200px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagen img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.imagen img:hover {
    transform: scale(1.1);
}

